<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<br> <br> <br>
				<hr class="primary">    
					<h1>Hello!</h1>
				<hr class="primary">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lorem purus, porttitor ac lorem a, sagittis eleifend quam. Proin eget massa ac tortor volutpat ullamcorper. In velit quam, semper quis mauris quis, accumsan condimentum orci. Quisque cursus dapibus diam, at fringilla ligula accumsan consequat. Nullam vel orci a lacus facilisis.</p>
		</div>
	</div>
</div>
