<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<br> <br> <br>
				<hr class="primary">    
					<h1>About us</h1>
				<hr class="primary">
			<b>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu pulvinar ante. Nullam eu vehicula metus, eu blandit nisi. Suspendisse potenti. Suspendisse eget leo ut enim dignissim porttitor. Sed viverra magna sit amet mollis porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse auctor augue eget dui malesuada, ut mollis ligula scelerisque. Duis in ipsum commodo, dignissim orci quis, ornare risus.
			</p>
			</b>
		</div>
	</div>
</div>
