<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<br> <br> <br>
				<hr class="primary">    
					<h1>About us</h1>
				<hr class="primary">
			<b>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris condimentum pulvinar nulla, eget egestas lorem rutrum eu. Nullam euismod nisi et posuere volutpat. Etiam nec commodo risus. In accumsan ipsum in lorem cursus laoreet. Pellentesque iaculis dignissim nibh, dignissim ultricies nunc lacinia sed. Duis felis eros, vulputate sed nulla vitae, feugiat pharetra eros. Maecenas sollicitudin felis a mi mollis, varius tempor turpis imperdiet. Curabitur nec velit odio. In hac habitasse platea dictumst. Mauris eget neque a est condimentum molestie sit amet sed odio. Nulla id nulla interdum, congue nulla ac, accumsan sapien. Cras molestie, mauris nec mollis accumsan, est augue eleifend lacus, in sollicitudin sapien massa ut est.
			</p>
			<p>
				Mauris ullamcorper enim mi, non luctus libero condimentum vel. Phasellus viverra dolor eu porta fermentum. Nullam posuere odio varius orci varius, sed sollicitudin nibh tincidunt. Cras non tristique mi. Mauris efficitur lacinia consectetur.
			</p>
			</b>
		</div>
	</div>
</div>
